.vendor-management {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.vendor-list {
  flex: 1;
  padding: 10px;
  border-right: 2px solid #ccc;
  cursor: pointer;
  width: 45%;
  height: 100%;
}


.vendor-list ul {
  list-style-type: none;
  padding: 0;
}

.vendor-list li {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s;
}

.vendor-list li:hover {
  background-color: #007bff;
  color: #fff;
}

.selected {
  background-color: white;
  color: black;
  margin-top: 10px;
  border-radius: 8px;
}

.unselected {
  background-color: white;
  color: black;
}

/* Vendor Details */
.vendor-details {
  flex: 2;
  padding: 10px;
  width: 55%;
}

.vendor-details h2 {
  margin-bottom: 10px;
}

.vendor-details input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.vendor-details button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.vendor-details button:hover {
  background-color: #0056b3;
}

.vendor-details .edit-confirm-buttons {
  display: flex;
  justify-content: space-between;
}

.vendor-details .edit-confirm-buttons button {
  flex: 1;
  margin-right: 10px;
}

.vendor-details.edit-mode input[type="text"] {
  background-color: #f0f0f0;
}

.vendor-details.edit-mode .edit-confirm-buttons {
  display: flex;
  justify-content: flex-end;
}

.vendor-details.edit-mode .edit-confirm-buttons button {
  background-color: #007bff;
}

.vendor-details.edit-mode .edit-confirm-buttons button:hover {
  background-color: #0056b3;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 18%;
}
